 div {
  display:inline-block;
  margin-left: 30px;
}

.all{
  margin-top: 120px;
}

.image{
  /* border: 1px solid red; */
}
.about{
  /* border:1px solid red;   */
  width:25%;
  height: 75%;
  vertical-align:top;
  
}
h1{
  font-size: 40px;
  font-weight:900;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
  color: gray;
}

.zorar{
  background-color: blueviolet;
  color: white;
  padding:15px 40px;
  border-radius: 5px;
  border:solid blueviolet 1px;
  margin-top: 30px;
  font-weight: bold;
}
.zorar:hover{
background-color: white;
color:black;
font-weight: bold;
cursor: pointer;

}
